.git/
.vs/
bin/
obj/
.vscode/
lib/Assembly-CSharp.dll
lib/Assembly-CSharp-firstpass.dll
lib/Rewired_Core.dll
lib/Rewired_Windows.dll
lib/StandaloneFileBrowser.dll
lib/UnityEngine.dll
lib/UnityEngine.UI.dll
